

.my-header {
    position: sticky;
    top: 0;
    transition: var(--transition-sm);
    z-index: 100;
}
.my-header.active {
    background: var(--c-terracotta);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.search-input-wrapper {
    width: 100%;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    border: 1px solid var(--c-grey);
    border-radius: var(--l-sm4);
    background: var(--c-light);
}
.search-input {
    border: none;
}
.search-input:focus {
    box-shadow: none;
}
@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
.input-info-btn {
    white-space: nowrap;
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.palette-icon {
    width: 2.5rem;
    filter: var(--img-shadow-2);
}
.palette-icon.active {
    filter: var(--img-shadow);
}

.banner__bg {
    border-radius: var(--l-sm2);
    background: var(--bg-banner);
    /* box-shadow: var(--box-shadow); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.banner__img {
    filter: var(--img-shadow-2);
    box-shadow: var(--box-shadow);
    border-radius: var(--l-sm2);
}
.tin_paint {
    filter: var(--img-shadow-2);
}

h1 {
    background-image: linear-gradient(to right, 
        hsl(0, 100%, 50%),    /* Red */
        hsl(15, 100%, 50%),   /* Reddish Orange */
        hsl(30, 100%, 50%),   /* Orange */
        hsl(45, 100%, 50%),   /* Yellowish Orange */
        hsl(60, 100%, 50%),   /* Yellow */
        hsl(90, 100%, 50%),   /* Yellowish Green */
        hsl(120, 100%, 50%),  /* Green */
        hsl(180, 100%, 50%),  /* Cyan */
        hsl(240, 100%, 50%),  /* Blue */
        hsl(275, 100%, 50%),  /* Indigo */
        hsl(300, 100%, 50%),  /* Violet */
        hsl(330, 100%, 50%),  /* Pink */
        hsl(360, 100%, 50%)   /* Red */
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--text-shadow);
}

/* ---Search-Input--- */
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
    z-index: 1000; /* Ensure dropdown appears above other elements */
}
.dropdown-menu {
    border: 1px solid #ddd;
    background: white;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.list-group-item {
    cursor: pointer;
}

/* ---Colors-Shelf-Section--- */
.sidebar-nav {
    position: sticky;
    top: 5rem;
}

.card {
    border: none;
}
.color-display-header {
    border-radius: var(--l-sm3);
    background: pink;
}
.color-display {
    width: 100%;
    height: 9.0625rem;
    background: var(--bg-display);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--l-sm3);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: var(--transition);
}

.color-box {
    height: 5rem;
}

.color-place {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    align-items: flex-end;
    position: relative;
    border-radius: var(--l-sm3);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.copied-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(119, 111, 111, 0.6);
    padding: var(--l-sm1) var(--l-sm2);
    border-radius: var(--l-sm2);
    color: var(--c-red-accent);
    font-weight: bold;
    opacity: 0;
}

@-webkit-keyframes fade-out-top {
    0% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, -50px);
        transform: translate(-50%, -50px);
        opacity: 0;
    }
}

@keyframes fade-out-top {
    0% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, -50px);
        transform: translate(-50%, -50px);
        opacity: 0;
    }
}
.copied-text.active {
    -webkit-animation: fade-out-top .9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: fade-out-top .9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.copy-btn-1 {
    position: absolute;
    top: .25rem;
    right: .25rem;
    background: transparent;
    border: none;
    border-radius: calc(var(--l-sm3) - .25rem);
    translate: 0 -30px;
    background: rgba(0, 0, 0, .4);
    transition: var(--transition);
}
.copy-btn-1-icon {
    color: var(--c-alabastor);
}
.copy-btn-2 {
    background: rgba(0, 0, 0, .4);
    border-radius: calc(var(--l-sm3) - .25rem);
    border: none;
    padding: var(--l-sm1);
    margin: 0 .25rem .25rem;
    font-size: clamp(var(--l-sm1), calc(var(--size) * 1.2), var(--l-md1));
    color: var(--c-alabastor);
    translate: 0 35px;
    transition: var(--transition);
}
.color-place:hover .copy-btn-1,
.color-place:hover .copy-btn-2 {
    translate: 0;
}

.card_btn_group button {
    background: transparent;
    transition: var(--transition);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: var(--box-shadow);
}
.card_btn_group button:hover {
    transform: translateY(-2px);
}

/* ---Dividers--- */
hr {
    width: 90%;
    margin: .25rem auto 1rem;
    height: 12px;
    background-color: transparent;
    border: none;
}
.divider {
    box-shadow: 
        0 1px black,
        0 4px white,
        0 7px black, 
        0 10px white,
        0 11px black;
}
/* -------------- */

@media all and (max-width: 800px) {
    .copy-btn-2 {
        font-size: clamp(var(--l-sm1), calc(var(--size) * 1.2), var(--l-sm4));
    }
}